header{
    background-color: lightgray;
    vertical-align: middle;
}

.navbtn{
    color:white;
    padding: 12px 6px 12px 6px;;
}

.rightal{
    float:right;
}

tr{
    height:10px;
}
.currentsong{
    background-color: lightgray;
    border: 1px white solid;
    border-radius: 3px;
    text-align: center;
    margin: 12px 6px 12px 6px;;
}

.chatdate{
    height: 10px;
    font-style: italic;
}
.OwnMessage{
    text-align: right;
}